DISCORD_ID='APP ID'
DISCORD_SECRET='APP SECRET'
FIREBASE_ADMIN_SDK_KEY='PATH TO ADMIN SDK KEY Example: C:\admin.json'
FULL_HOST=http://localhost:8080
HOST=localhost
PORT=8080
FRONTEND_CALLBACK_URL=http://localhost/test/success.html
